<%= form_for :message do |f| %>
    <%= f.text_field :content %>
    <%= f.submit "Post" %>
<% end %>

<h2>Messages</h2>

<% @messages.each do |m| %>
    <p><%= m.content %> <small><%= m.created_at %></small></p>
<% end %>